---
layout: default
---

<div class="content-box">
  <h1>Nossos serviços</h1>

  <div class="card-deck">
    <div class="card text-center" style="max-width: 18rem;">
      <img class="card-img-top" src="../assets/images/educacao-fisica.jpeg" alt="Educação Física" height="150px">
      <div class="card-body">
        <h5 class="card-title">Educação Física</h5>
      </div>
    </div>
    <div class="card text-center" style="max-width: 18rem;">
      <img class="card-img-top" src="../assets/images/enfermagem.jpeg" alt="Enfermagem" height="150px">
      <div class="card-body">
        <h5 class="card-title">Enfermagem</h5>
      </div>
    </div>
    <div class="card text-center" style="max-width: 18rem;">
      <img class="card-img-top" src="../assets/images/fisioterapia.jpeg" alt="Fisioterapia" height="150px">
      <div class="card-body">
        <h5 class="card-title">Fisioterapia</h5>
      </div>
    </div>
    <div class="card text-center" style="max-width: 18rem;">
      <img class="card-img-top" src="../assets/images/fonoaudiologia.jpeg" alt="Fonoaudiologia" height="150px">
      <div class="card-body">
        <h5 class="card-title">Fonoaudiologia</h5>
      </div>
    </div>
  </div>

  <p>&nbsp;</p>

  <div class="card-deck">
    <div class="card text-center" style="max-width: 18rem;">
      <img class="card-img-top" src="../assets/images/nutricao.jpeg" alt="Nutrição" height="150px">
      <div class="card-body">
        <h5 class="card-title">Nutrição</h5>
      </div>
    </div>
    <div class="card text-center" style="max-width: 18rem;">
      <img class="card-img-top" src="../assets/images/psicologia.jpeg" alt="Psicologia" height="150px">
      <div class="card-body">
        <h5 class="card-title">Psicologia</h5>
      </div>
    </div>
    <div class="card text-center" style="max-width: 18rem;">
      <img class="card-img-top" src="../assets/images/terapia-ocupacional.jpeg" alt="Fonoaudiologia" height="150px">
      <div class="card-body">
        <h5 class="card-title">Terapia Ocupacional</h5>
      </div>
    </div>
  </div>

</div>